<!-- Reviewed and documented. -->
<% @page_title = "Edit Section" %>

<%= link_to("<< Back to List", {:action => 'index', :page_id => @page.id}, :class => 'back-link') %>

<div class="sections edit">
  <h2>Update Section</h2>

  <%= form_for(:section, :url => {:action => 'update', :id => @section.id, :page_id => @page.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <%#= f.fields_for :section_edits, @section.section_edits.build(summary: "New summary") do |sef| %>
    <%= f.fields_for :section_edits, @section_edit do |sef| %>
      <%= render(:partial => "section_edit", :locals => {:sef => sef}) %>
    <% end %>    

    <div class="form-buttons">
      <%= submit_tag("Update Section") %>
    </div>

  <% end %>
</div>
