<!-- Reviewed and documented. -->
<% @page_title = "Show Section" %>

<%= link_to("<< Back to List", {:action => 'index', :page_id => @page.id}, :class => 'back-link') %>

<div class="sections show">
  <h2>Show Section</h2>

  <table summary="Section detail view">
    <tr>
      <th>Page Name</th>
      <td><%= Page.all.find(@section.page_id).name %></td>
    </tr>
    <tr>
      <th>Section Name</th>
      <td><%= @section.name %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @section.position %></td>
    </tr>
    <tr>
      <th>Visible?</th>
      <td><%= @section.visible ? 'true' : 'false' %></td>
    </tr>
    <tr>
      <th>Content Type</th>
      <td><%= @section.content_type %></td>
    </tr>
    <tr>
      <th>Content</th>
      <td><%= @section.content %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @section.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @section.updated_at %></td>
    </tr>
    <tr>
      <th colspan="2" align="center">Edit Histroy (Newest First)</th>
    </tr>
    <% @section.section_edits.newest_first.each do |se| %>
      <tr>
        <th>Edited at</th>
        <td><%= se.updated_at %></td>
      </tr>
      <tr>
        <th>Summary</th>
        <td><%= se.summary %></td>
      </tr>
    <% end %>
  </table>

</div>
